body {
    margin: 0;
    font-family: Arial;
    background: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.message {
    margin: 10px 0;
}

.user {
    text-align: right;
    color: blue;
}

.bot {
    text-align: left;
    color: black;
}

.input-box {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    margin-left: 10px;
}
