body {
    margin: 0;
    font-family: Arial;
    background: #f7f7f8;
    direction: rtl;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.left {
    font-weight: bold;
    font-size: 18px;
}

.plus {
    background: #eaeaff;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

/* CENTER */
.center {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center h1 {
    font-size: 26px;
    text-align: center;
}

/* INPUT */
.input-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-box {
    width: 90%;
    max-width: 600px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-box button {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.send {
    background: black;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
