<!DOCTYPE html>
<html lang="ar">
<head>
<meta charset="UTF-8">
<title>AMAN AI</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <button onclick="newChat()">+ محادثة جديدة</button>

    <div class="menu">
        <p>المحادثات</p>
    </div>

    <div class="bottom">
        <p>{{user}}</p>
        <a href="/logout">تسجيل الخروج</a>
    </div>
</div>

<div class="main">

    <div class="topbar">
        AMAN AI
    </div>

    <div id="chat-box" class="chat-box">
        <div class="welcome">
            أنا مستعد عندما تكون أنت كذلك.
        </div>
    </div>

    <div class="input-box">
        <input id="message" placeholder="اسأل عن أي شيء...">
        <button onclick="sendMessage()">↑</button>
    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>
