<!DOCTYPE html>
<html lang="ar">
<head>
<meta charset="UTF-8">
<title>تسجيل الدخول</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">
    <h2>تسجيل الدخول</h2>

    <form method="POST">
        <input type="email" name="email" placeholder="الايميل" required>
        <input type="password" name="password" placeholder="كلمة المرور" required>
        <button type="submit">دخول</button>
    </form>

    <a href="/register">إنشاء حساب جديد</a>
</div>

</body>
</html>
